<div class="category w-full md:w-5/6">
  <%= link_to category_payments_path(category), class: 'bg-white w-full h-full flex justify-between gap-2 py-2 pl-2 pr-3 text-lg sm:text-xl md:text-3xl lg:text-5xl text-text_color shadow-md transition-all duration-300 ease-out hover:-translate-y-1' do %>
    <div class="category-icon w-[25%]">
      <%= image_tag category.icon, class: 'w-full h-20 md:h-32 lg:h-40 xl:48' %>
    </div>
    <div class="category-content w-[75%] h-full flex gap-1 justify-between pt-3 md:pt-5 lg:pt-8">
      <div class="category-name w-2/3 h-full flex flex-col justify-between">
        <h3 class="font-normal text-text_color"><%= category.name %></h3>
        <p class="text-[0.85rem] sm:text-md md:text-lg lg:text-xl text-text_color text-opacity-50">
          <%= category.created_at.strftime('%d %b %Y') %>
        </p>
      </div>
      <div class="category-total-amount w-1/3">
        <p class="font-bold text-right">$<%= category.total_amount.to_f.round(2) %></p>
      </div>
    </div>
  <% end %>
</div>
