<section class="pt-16 w-full h-screen bg-zinc-100 flex flex-col justify-between" id="new-payment">
  <div class="container mx-auto h-full flex flex-col">
    <div class="content-row w-full">
      <%= form_with(model: @payment, url: payments_path) do |f| %>

        <div class="w-full mt-4 pl-4 flex flex-col items-center bg-white border-y-2 border-zinc-300">
          <div class="w-full border-b-2 border-zinc-300">
            <%= f.text_field :name, required: true, placeholder: 'Name', class: 'w-full border-none py-4 pr-1 text-text_color' %>
          </div>

          <div class="w-full border-b-2 border-zinc-300">
            <%= f.number_field :amount, min: 0.01, step: 0.01, required: true, placeholder: 'Amount', class: 'w-full border-none py-4 pr-1 text-text_color' %>
          </div>

          <div class="w-full">
            <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: 'Select a Category'}, {class: 'w-full border-none py-4 pr-1 text-text_color', required: true}) %>
          </div>
        </div>

        <div class="w-full mt-4 p-4">
          <%= f.submit "Save", class: 'w-full p-5 inline-block bg-main-400 text-white text-center uppercase transition-colors duration-300 ease-in-out hover:bg-main-700' %>
        </div>

      <% end %>
    </div>
  </div>
</section>
